body {
    background-color:#1E2D3B;
    width:100%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.cd {
    width: 16%;
    margin: 3% 2%;
    height: 50%;
    background: rgb(46, 58, 70);
    text-align: center;
    color: white;
}

img {
    width: 70%;
    height: auto;
    height:40%;
    margin-top:5%;
}